.text-gradient {
  background: linear-gradient(90deg, #ed6a5a, #0b3c49, #9bc1bc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 2s ease-in-out; /* Apply transition to ensure smooth change */
}

.text-gradient-hover:hover {
  background: linear-gradient(90deg, #9bc1bc, #0b3c49, #ed6a5a);
}
